@font-face {
	font-family: 'Roboto';
	src: url("../fonts/Roboto-Regular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url("../fonts/Roboto-Italic.ttf") format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url("../fonts/Roboto-Bold.ttf") format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url("../fonts/Roboto-BoldItalic.ttf") format('truetype');
	font-weight: bold;
	font-style: italic;
}

body {
	margin: 0;
	overflow: hidden;
	-webkit-user-select: none; /* Safari */
  	-ms-user-select: none; /* IE 10 and IE 11 */
  	user-select: none; /* Standard syntax */
  	font-family: 'Roboto', sans-serif;
  	background-image: url("../icons/wallpaper.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
	height: 100vh;
}

body::backdrop {
	background-color: white;
	background-image: url("../icons/wallpaper.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
}

.app {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 65px);
}

.navigation-bar {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: rgb(0, 0, 0);
	justify-content: space-evenly;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 99999999;
	height: 65px;
}

.navigation-bar img {
	height: 3vh;
	padding: 2vh;
	transition: 0.1s;
}

.navigation-bar img:active {
	transform: scale(1.3);
}

#null {
	display: none;
}

.recent-apps {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.recent-app {
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 42%;
	padding: 2%;
	margin: 2%;
	border-radius: 20px;
	color: black;
	transition: 0.1s;
}

.recent-app img {
	width: 24px;
}

.recent-app span {
	margin-left: 10px;
	font-size: large;
}

.recent-app:hover {
	background-color: black;
	color: white;
}

.recent-app:hover #close-app-icon {
	filter: invert(100%);
}

.installed-apps {
	display: grid;
	/* Hey! I just made this a grid. How can I make it fill the row first, and have exactly 4 elements per row? */
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-auto-flow: row;
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
}

.installed-app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.installed-app img {
	width: 50px;
	border-radius: 10px;
}

.installed-app span {
	margin-left: 10px;
	font-size: 15px;
	text-align: center;
	margin: 0;
	color: white;
	text-shadow: 2px 2px 4px #00000059;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 4px;
	width: 70px
}

#app, #installed-app, #recent-app {
	display: none;
}

@keyframes openMenu {
	0%   {left: 100%;}
	100% {left: 0;}
}

@keyframes closeMenu {
	0%   {left: 0;}
	100% {left: 100%;}
}

@keyframes openApp {
	0%   {
		top: 130%;
		transform: scale(0.4);
		border-radius: 200px;
	}
	100% {
		top: 0;
		transform: scale(1);
		border-radius: 0;
	}
}

@keyframes closeApp {
	0%   {
		top: 0;
		transform: scale(1);
		border-radius: 0;
	}
	100% {
		top: 130%;
		transform: scale(0.4);
		border-radius: 200px;
	}
}

.control-panel {
	position: absolute;
	top: 0;
	left: 0;
	background-color: lightgray;
	z-index: 999;
	width: 100%;
	height: 100vh;
	padding: 15px;
	display: none;
}

.openMenuAnimation {
	animation-name: openMenu;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.closeMenuAnimation {
	animation-name: closeMenu;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.openAppAnimation {
	animation-name: openApp;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.closeAppAnimation {
	animation-name: closeApp;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.control-panel-entry {
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: calc(42% - 15px);
	padding: 2%;
	margin: 2%;
	border-radius: 20px;
	color: black;
	transition: 0.2s;
}

.control-panel-entry span {
	margin-left: 8px;
}

.control-panel-entry:active {
	color: white;
	background-color: black;
}

.control-panel-entry img {
	transition: 0.1s;
	width: 48px;
}

.control-panel-entry:hover img {
	filter: invert(100%);
}

.control-panel-toggles {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.toast {
	background-color: transparent;
	color: white;
	width: 100%;
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 60px;
	z-index: 999999999999;
}

.toast-box {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 5px 10px 5px 10px;
	border-radius: 50px;
}

#toast {
	display: none;
}

.clock-widget {
	color: white;
	font-size: 50px;
	margin: 35px;
}

